  <div class="container-fluid">
    <h1><%= @current_user.name %></h1>

         <% if @current_user.avatar.persisted? %>
        <%= link_to image_tag(@current_user.avatar, style: "height:164px;width:164px;"), root_path %>
      <% else %>
        <%= link_to image_tag("http://a4.mzstatic.com/us/r1000/046/Purple/bd/8f/fd/mzl.emkswtfe.jpg",
        style: "height:164px;width:164px;"), root_path %>
      <% end %>
  
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <%= link_to 'All my transactions', transfers_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to 'All external transactions', transfers_all_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to 'All groups', groups_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to 'Log out', sessions_destroy_path, class: "nav-link" %>
            </li>
        </ul>

    </div>


    

