

<h1>Groups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Icon</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= group.icon %></td>
        <td><%= group.user_id %></td>
        <td><%= link_to 'Show', group %></td>
        <% if group.user == @current_user %>
        <td><%= link_to 'Edit', edit_group_path(group) %></td>
        <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group', new_group_path %>


<% provide(:title, 'Groups') %>
<div>
  <%= render @groups %>
</div>

<%= link_to new_group_path, class: "link-btn btn
                  btn-success w-100 p-4 rounded-0" do %>
  <span class="p-3 border border-light">NEW GROUP</span>
<% end %>