<p id="notice"><%= notice %></p>


<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<div>
    <%= image_tag @group.icon, width: '400px' %>
</div>
<p>
  <strong>User:</strong>
  <%= @group.user_id %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
