<%= form_with(model: transfer) do |form| %>
  <% if transfer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transfer.errors.count, "error") %> prohibited this transfer from being saved:</h2>

      <ul>
        <% transfer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "Select currency:", class: "form-label" %>
    <%= form.select :name, ['Euro', 'USD', 'Pound'],
        {}, {class: "form-select form-select-lg mb-3"}  %>
  </div>

   <div class="field">
    <%= form.text_field :group_id, class: "value-input", 
    class: "form-control fs-4 text-muted text-center", placeholder: "Type the name of the group" %>
  </div>

  <div class="field">
    <%= form.number_field :amount, step: :any, class: "form-control mt-3", placeholder: "Amount" %>
  </div>


  <div class="actions mt-3">
    <%= form.submit %>
  </div>
<% end %>
