<h1>Transfers</h1>
<div>
  <div class="card mb-3 p-3 flex-row justify-content-between border-top-0" id="trn-total">
    <h5 class="text-muted m-0">Total Amount</h5>
    <p class="font-weight-bold m-0">$<%= number_with_precision(@transfers.sum(:amount), :precision => 2) %></p>
  </div>

<%= render @transfers %>

<%= link_to 'New Transfer' , new_transfer_path, class: "link-btn btn
                  btn-success"%>

<br>

<!--
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>User</th>
      <th>Group</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% running_total = 0 %>
    <% @transfers.each do |transfer| %>
      <% if transfer.user == @current_user %>
      <tr>
        <td><%= transfer.name %></td>
        <td><%= transfer.amount %></td>
        <td><%= transfer.user_id %></td>
        <td><%= image_tag(transfer.group.icon, width: '100px') %></td>
        <td><%= link_to 'Show', transfer %></td>
        
        <td><%= link_to 'Edit', edit_transfer_path(transfer) %></td>
        <td><%= link_to 'Destroy', transfer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <% if transfer.user == @current_user %>
          <% running_total = running_total + transfer.amount %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h4 class="pull-right">Transfer total: <%= running_total%>

-->