<p>
  <strong>Name:</strong>
  <%= @transfer.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @transfer.amount %>
</p>

<p>
  <strong>User:</strong>
  <%= @transfer.user.name%>
</p>

<p>
  <strong>Group:</strong>
  <%= @transfer.group.name %>
  <%= image_tag(@transfer.group.icon, width: '75px', height: '75px') %>
</p>

<%= link_to 'Edit', edit_transfer_path(@transfer) %> |
<%= link_to 'Back', transfers_path %>
