<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @transfer.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @transfer.amount %>
</p>

<p>
  <strong>User:</strong>
  <%= @transfer.user_id %>
</p>

<p>
  <strong>Group:</strong>
  <%= @transfer.group_id %>
</p>

<%= link_to 'Edit', edit_transfer_path(@transfer) %> |
<%= link_to 'Back', transfers_path %>
